<div class="upload-container">
  <h2>Dokument hochladen</h2>

  <div class="upload-box">
    <input
      type="file"
      accept="application/pdf"
      (change)="onFileSelected($event)"
      #fileInput
      hidden
    />

    <button (click)="fileInput.click()">PDF auswählen</button>

    <ng-container *ngIf="file$ | async as file">
      <p *ngIf="file">
        Ausgewählte Datei: <strong>{{ file.name }}</strong>
      </p>
    </ng-container>

    <button class="upload-btn" (click)="uploadFile()">Upload starten</button>
  </div>

  <button (click)="pingBackend()">Backend testen</button>


</div>

